<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortfolioGorazdCater</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Anton|Archivo+Black|Arimo|Pontano+Sans|Russo+One">
    <script src="/assets/js/jquery-1.11.2.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
</head>

<br>

<!--HEADER-->

<header class="page-row">
            <div class="navbar navbar-default navbar-custom navbar-fixed-top">
                <div class="container">
                    <div class="navbar-brand brand-custom logo-container">
                        <a class="brand-text" href="/">GORAZD CATER</a>
                    </div>

                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse navHeaderCollapse navbar-right">
                        <ul class="nav navbar-nav navbar-text nav-fade">
                            <li class="dropdown">
                                <a href="#projects" class="dopdown-toggle" data-toggle="dropdown">PROJECTS<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#realized">Realized</a></li>
                                    <li><a href="#studio">Studio</a></li>
                                    <li><a href="#actual">Actual</a></li>
                                    <li><a href="#graphic">Graphic</a></li>
                                </ul>
                            </li>
                            <li><a href="#cv">CV + REFERENCES</a></li>
                            <li><a href="#contact">CONTACT</a></li>
                        </ul>
                    </div>

                </div>
            </div>
</header>

<!--NASLOVNICA-->

        <center><div class="container naslovnica">

            <div class="row">

                <div class="col-xs-6 ena">
                    <h3>GORAZD ČATER</h3>
                </div>
                <div class="col-xs-1 dva">
                    <div class="pravokotnik"></div>
                </div>

            </div>

            <div class="row">

                <div class="col-xs-6 tri">
                    <div class="tri-vrsta">
                        <h5>ARCHITECTURE</h5>
                        <h5>ENGINEERING</h5>
                        <h5>COACHING</h5>
                        <h5>PRINTING</h5>
                        <h5>SPORT</h5>
                    </div>

                </div>
                <div class="col-xs-6 stiri">
                    <h1>PORTFOLIO</h1>
                </div>

            </div>

        </div></center>

<!--NASLOV KATEGORIJE-PORTFOLIO-->

    <h2 class="naslov"><a name="projects" class="link">PORTFOLIO</a></h2>

<!-- 1   NASLOV PODKATEGORIJE-REALIZED-->

    <center><div class="container podnaslov">

            <div class="row">

                <div class="col-xs-2 col-xs-offset-5 stevilka">
                    <h4>-1-</h4>
                </div>

            </div>

            <div class="row">

                <div class="col-xs-2 col-xs-offset-5 beseda">
                    <a name="realized" class="link"><h4>REALIZED</h4></a>
                </div>

            </div>

        </div></center>

<!--REALIZED PROJECTS-PORTFOLIO TABLE-->

        <div class="container portfolio-table">
            
            <div class="row">                               <!--ROW 1-->
                <div class="col-xs-6 left" >
                    <figure class="effect-sadie">
                        <img src="/assets/pictures/I_REALIZED/I_A_ASD_Grayscale.jpg" alt="HOMESTEAD URSJEK CONVERSION">
                        <figcaption>
			                <h3>HOMESTEAD URSJEK</h3>
			                <p><span style="font-size:10px">type:</span> conversion<br>
			                <span style="font-size:10px">year:</span> 2016 -<br>
			                <span style="font-size:10px">status:</span> under construction</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>

                <div class="col-xs-6 right">
                    <figure class="effect-sadie-right">
                        <img src="/assets/pictures/I_REALIZED/I_B_AKT_Grayscale.jpg" alt="RESIDENCE KOVACIC">
                        <figcaption>
			                <h3>RESIDENCE KOVACIC</h3>
			                <p style="padding: 5%"><span style="font-size:10px">type:</span> conversion + extension<br>
			                <span style="font-size:10px">year:</span> 2016 -<br>
			                <span style="font-size:10px">status:</span> under construction<br><br>
                            <span style="font-size:10px">coauthor:</span> Nena Mihajlovic Lamut</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">                               <!--ROW 2-->
                <div class="col-xs-6 left">
                    <figure class="effect-sadie">
                        <img src="/assets/pictures/I_REALIZED/I_C_ANZ_Grayscale.jpg" alt="HOMESTEAD NOVAK">
                        <figcaption>
			                <h3>HOMESTEAD NOVAK</h3>
			                <p><span style="font-size:10px">type:</span> conversion + extension<br>
			                <span style="font-size:10px">year:</span> 2017 -<br>
			                <span style="font-size:10px">status:</span> design in progress</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>

                <div class="col-xs-6 right">
                    <figure class="effect-sadie-right">
                        <img src="/assets/pictures/I_REALIZED/I_D_AIR_Grayscale.jpg" alt="SUMMER RESIDENCE ILIJAS">
                        <figcaption>
			                <h3>SUMMER RESIDENCE ILIJAS</h3>
			                <p><span style="font-size:10px">type:</span> conversion<br>
			                <span style="font-size:10px">year:</span> 2016 -<br>
			                <span style="font-size:10px">status:</span> under construction</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">                               <!--ROW 3-->
                <div class="col-xs-6 left">
                    <figure class="effect-sadie">
                        <img src="/assets/pictures/I_REALIZED/I_E_AKL_Grayscale.jpg" alt="RESIDENCE KALUZA">
                        <figcaption>
			                <h3>RESIDENCE KALUZA</h3>
			                <p><span style="font-size:10px">type:</span> conversion + extension<br>
			                <span style="font-size:10px">year:</span> 2015 -<br>
			                <span style="font-size:10px">status:</span> under construction</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>

                <div class="col-xs-6 right">
                    <figure class="effect-sadie-right">
                        <img src="/assets/pictures/I_REALIZED/I_F_PS_Grayscale.jpg" alt="SANITATION FACILITIES">
                        <figcaption>
			                <h3>SANITATION FACILITIES</h3>
			                <p><span style="font-size:10px">type:</span> interior design<br>
			                <span style="font-size:10px">year:</span> 2014 - 2015<br>
			                <span style="font-size:10px">status:</span> completed</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>
            </div>
            
        </div>

<!-- 2   NASLOV PODKATEGORIJE-STUDIO-->

    <center><div class="container podnaslov">

            <div class="row">

                <div class="col-xs-2 col-xs-offset-5 stevilka">
                    <h4>-2-</h4>
                </div>

            </div>

            <div class="row">

                <div class="col-xs-2 col-xs-offset-5 beseda">
                    <a name="studio" class="link"><h4>STUDIO</h4></a>
                </div>

            </div>

        </div></center>

<!--STUDIO PROJECTS-PORTFOLIO TABLE-->

        <div class="container portfolio-table">

            <div class="row">                               <!--ROW 1-->
                <div class="col-xs-6 left">
                    <figure class="effect-sadie">
                        <img src="/assets/pictures/II_STUDIO/II_A_MD_Grayscale.jpg" alt="AFFORDABLE RESIDENTIAL BUILDING COMPLEX">
                        <figcaption>
			                <h3>AFFORDABLE RESIDENTIAL BUILDING COMPLEX</h3>
			                <p><span style="font-size:10px">subject:</span> master thesis<br>
			                <span style="font-size:10px">year:</span> 2017 -<br>
			                <span style="font-size:10px">status:</span> in progress</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>

                <div class="col-xs-6 right">
                    <figure class="effect-sadie-right">
                        <img src="/assets/pictures/II_STUDIO/II_B_ZKD_Grayscale.jpg" alt="RESIDENTAL CO-HOUSING KOLEZIJA">
                        <figcaption>
			                <h3>RESIDENTAL CO-HOUSING KOLEZIJA</h3>
			                <p style="padding: 5%"><span style="font-size:10px">subject:</span> design studio Planiscek<br>
			                <span style="font-size:10px">year:</span> 2015 - 2016<br>
			                <span style="font-size:10px">status:</span> project completed<br><br>
                            <span style="font-size:10px">coauthor:</span> Davor Jerman</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">                               <!--ROW 2-->
                <div class="col-xs-6 left">
                    <figure class="effect-sadie">
                        <img src="/assets/pictures/II_STUDIO/II_C_KPB_Grayscale.jpg" alt="ENTRY POINT OF REGIONAL PARK">
                        <figcaption>
			                <h3>ENTRY POINT OF REGIONAL PARK</h3>
			                <p><span style="font-size:10px">subject:</span> architectural design IV<br>
			                <span style="font-size:10px">year:</span> 2016<br>
			                <span style="font-size:10px">status:</span> project completed</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>

                <div class="col-xs-6 right">
                    <figure class="effect-sadie-right">
                        <img src="/assets/pictures/II_STUDIO/II_D_VB_Grayscale.jpg" alt="HOUSING NEAR DOMZALE">
                        <figcaption>
			                <h3>HOUSING NEAR DOMZALE</h3>
			                <p><span style="font-size:10px">subject:</span> residental housing<br>
			                <span style="font-size:10px">year:</span> 2010<br>
			                <span style="font-size:10px">status:</span> project completed</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">                               <!--ROW 3-->
                <div class="col-xs-6 left">
                    <figure class="effect-sadie">
                        <img src="/assets/pictures/II_STUDIO/II_E_PK3_Grayscale.jpg" alt="SHIPPING CONTAINER TRANSFORMATION">
                        <figcaption>
			                <h3>SHIPPING CONTAINER TRANSFORMATION</h3>
			                <p><span style="font-size:10px">subject:</span> design studio Leskovec<br>
			                <span style="font-size:10px">year:</span> 2010 - 2011<br>
			                <span style="font-size:10px">status:</span> project completed</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>

                <div class="col-xs-6 right">
                    <figure class="effect-sadie-right">
                        <img src="/assets/pictures/II_STUDIO/II_F_TOF_Grayscale.jpg" alt="SQUARE O.F. URBAN DESIGN">
                        <figcaption>
			                <h3>SQUARE O.F. URBAN DESIGN</h3>
			                <p><span style="font-size:10px">subject:</span> urban design<br>
			                <span style="font-size:10px">year:</span> 2009<br>
			                <span style="font-size:10px">status:</span> project completed</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">                               <!--ROW 4-->
                <div class="col-xs-6 left">
                    <figure class="effect-sadie">
                        <img src="/assets/pictures/II_STUDIO/II_G_PK2_Grayscale.jpg" alt="TOURIST INFORMATION CENTER">
                        <figcaption>
			                <h3>TOURIST INFORMATION CENTER</h3>
			                <p><span style="font-size:10px">subject:</span> design studio Leskovec<br>
			                <span style="font-size:10px">year:</span> 2007 - 2008<br>
			                <span style="font-size:10px">status:</span> project completed</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>

                <div class="col-xs-6 right">
                    <figure class="effect-sadie-right">
                        <img src="/assets/pictures/II_STUDIO/II_H_HK_Grayscale.jpg" alt="PETTING FARM">
                        <figcaption>
			                <h3>PETTING FARM</h3>
			                <p><span style="font-size:10px">subject:</span> workshop<br>
			                <span style="font-size:10px">year:</span> 2009<br>
			                <span style="font-size:10px">status:</span> project completed</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>
            </div>

        </div>

<!-- 3   NASLOV PODKATEGORIJE-ACTUAL-->

    <center><div class="container podnaslov">

            <div class="row">

                <div class="col-xs-2 col-xs-offset-5 stevilka">
                    <h4>-3-</h4>
                </div>

            </div>

            <div class="row">

                <div class="col-xs-2 col-xs-offset-5 beseda">
                    <a name="actual" class="link"><h4>ACTUAL</h4></a>
                </div>

            </div>

        </div></center>

<!--ACTUAL PROJECTS-PORTFOLIO TABLE-->

        <div class="container portfolio-table">

            <div class="row">                               <!--ROW 1-->
                <div class="col-xs-6 left">
                    <figure class="effect-sadie">
                        <img src="/assets/pictures/III_ACTUAL/III_A_DK_Grayscale.jpg" alt="SPORT POINT KORNATI">
                        <figcaption>
			                <h3>SPORT POINT KORNATI</h3>
			                <p style="padding: 5%"><span style="font-size:10px">type:</span> implementational workshop<br>
			                <span style="font-size:10px">year:</span> 2016<br>
			                <span style="font-size:10px">status:</span> completed<br><br>
                            <span style="font-size:10px">coauthors:</span> design studio Planiscek & Zorc, Faculty of architecture</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>

                <div class="col-xs-6 right">
                    <figure class="effect-sadie-right">
                        <img src="/assets/pictures/III_ACTUAL/III_B_RH_Grayscale.jpg" alt="SINGLE FAMILY HOUSE RIMA">
                        <figcaption>
			                <h3>SINGLE FAMILY HOUSE RIMA</h3>
			                <p style="padding: 5%"><span style="font-size:10px">type:</span> open competition<br>
			                <span style="font-size:10px">year:</span> 2009<br>
			                <span style="font-size:10px">status:</span> project completed<br><br>
                            <span style="font-size:10px">coauthors:</span> Mitja Uranjek, architect</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">                               <!--ROW 2-->
                <div class="col-xs-6 left">
                    <figure class="effect-sadie">
                        <img src="/assets/pictures/III_ACTUAL/III_C_SNC_Grayscale.jpg" alt="SELF-SUFFICIENT VILLAGE">
                        <figcaption>
			                <h3>SELF-SUFFICIENT VILLAGE</h3>
			                <p><span style="font-size:10px">type:</span> architectural entry<br>
			                <span style="font-size:10px">year:</span> 2010<br>
			                <span style="font-size:10px">status:</span> project completed</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>

                <div class="col-xs-6 right">
                    <figure class="effect-sadie-right">
                        <img src="/assets/pictures/III_ACTUAL/III_D_HH_Grayscale.jpg" alt="ARCHITECTURAL PRACTICE">
                        <figcaption>
			                <h3>ARCHITECTURAL PRACTICE</h3>
			                <p style="padding: 5%"><span style="font-size:10px">type:</span> architectural practice<br>
			                <span style="font-size:10px">year:</span> 2015<br>
			                <span style="font-size:10px">status:</span> completed<br><br>
                            <span style="font-size:10px">office:</span> Architekturbüro Hermann Hagspiel</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>
            </div>

        </div>

<!-- 4   NASLOV PODKATEGORIJE-GRAPHIC-->

    <center><div class="container podnaslov">

            <div class="row">

                <div class="col-xs-2 col-xs-offset-5 stevilka">
                    <h4>-4-</h4>
                </div>

            </div>

            <div class="row">

                <div class="col-xs-2 col-xs-offset-5 beseda">
                    <a name="graphic" class="link"><h4>GRAPHIC</h4></a>
                </div>

            </div>

        </div></center>

<!--GRAPHIC PROJECTS-PORTFOLIO TABLE-->

        <div class="container portfolio-table">

            <div class="row">                               <!--ROW 1-->
                <div class="col-xs-6 left">
                    <figure class="effect-sadie">
                        <img src="/assets/pictures/IV_GRAPHIC/IV_A_JKN_Grayscale.jpg" alt="NAUTICAL ASSOCIATION NEPTUN">
                        <figcaption>
			                <h3>NAUTICAL ASSOCIATION NEPTUN</h3>
			                <p><span style="font-size:10px">type:</span> graphic design<br>
			                <span style="font-size:10px">year:</span> 2015<br>
			                <span style="font-size:10px">status:</span> completed</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>

                <div class="col-xs-6 right">
                    <figure class="effect-sadie-right">
                        <img src="/assets/pictures/IV_GRAPHIC/IV_B_MSKA_Grayscale.jpg" alt="SPORTS KARATE ASSOCIATION MSKA">
                        <figcaption>
			                <h3>SPORTS KARATE ASSOCIATION MSKA</h3>
			                <p><span style="font-size:10px">type:</span> graphic design<br>
			                <span style="font-size:10px">year:</span> 2008 - 2014<br>
			                <span style="font-size:10px">status:</span> completed</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">                               <!--ROW 2-->
                <div class="col-xs-6 left">
                    <figure class="effect-sadie">
                        <img src="/assets/pictures/IV_GRAPHIC/IV_C_PC_Grayscale.jpg" alt="GREETING CARDS">
                        <figcaption>
			                <h3>GREETING CARDS</h3>
			                <p><span style="font-size:10px">type:</span> graphic design<br>
			                <span style="font-size:10px">year:</span> 2014 - 2016<br>
			                <span style="font-size:10px">status:</span> completed</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>

                <div class="col-xs-6 right">
                    <figure class="effect-sadie-right">
                        <img src="/assets/pictures/IV_GRAPHIC/IV_D_PM_Grayscale.jpg" alt="PROMOTIONAL MATERIAL">
                        <figcaption>
			                <h3>PROMOTIONAL MATERIAL</h3>
			                <p><span style="font-size:10px">type:</span> graphic design<br>
			                <span style="font-size:10px">year:</span> 2015<br>
			                <span style="font-size:10px">status:</span> completed</p>
			                <a>Galery</a> <!--GALERIJA 1 - HOMESTEAD URSJEK CONVERSION-->
		                </figcaption>
                    </figure>
                </div>
            </div>

        </div>

<!--NASLOV KATEGORIJE-CV & REFERENCE-->

    <h2 class="naslov"><a name="cv" class="link">CV & REFERENCES</a></h2>

<!--CV IN REFERENCE TABELA-->

    <center><div class="container cv">

                <div class="row cv-prva">

                    <div class="col-xs-3 col-xs-offset-2 one">
                        <h5>CURRICULUM VITAE</h5>
                    </div>
                    <div class="col-xs-1 two">
                        <div class="pravokotnik"><h3>CV</h3></div>
                    </div>
                    <div class="col-xs-6">
                    </div>

                </div>

                <div class="row cv-druga">

                    <div class="col-xs-1 col-xs-offset-6 three">
                        <img class="ref" src="/assets/pictures/V_DODATNO/V_A_PF_HH_logo_v1.2.jpg">
                    </div>
                    <div class="col-xs-1 four">
                        <img class="ref" src="/assets/pictures/V_DODATNO/V_B_PF_FA_logo_v1.2.jpg">
                    </div>
                    <div class="col-xs-4 five">
                        <h5>REFERENCES</h5>
                    </div>

                </div>

                <div class="row cv-tretja">

                    <div class="col-xs-1 col-xs-offset-6 six">
                        <img class="ref" src="/assets/pictures/V_DODATNO/V_C_PF_MSKA logo_v1.2.jpg">
                    </div>
                    <div class="col-xs-1 seven">
                        <img class="ref" src="/assets/pictures/V_DODATNO/V_D_E Leclerc logo_v1.2.jpg">
                    </div>
                    <div class="col-xs-4">
                    </div>

                </div>

            </div></center>

<!--NASLOV KATEGORIJE-KONTAKT-->

    <h2 class="naslov"><a name="contact" class="link">CONTACT</a></h2>

<!--KONTAKT-->

        <center><div class="container contact">

            <div class="row">

                <div class="col-xs-6 ena">
                    <h3>GORAZD ČATER</h3>
                </div>
                <div class="col-xs-1 dva">
                    <div class="pravokotnik"></div>
                </div>

            </div>

            <div class="row">

                <div class="col-xs-6 tri">

                </div>
                <div class="col-xs-6 stiri">
                    <div class="contact-vrsta">
                        <h5>@: gorazd.cater@hotmail.com</h5>
                        <h5>tel: +386 (0)40 796 338</h5>
                        <h5>Presernova 02 </h5>
                        <h5>3000 Celje </h5>
                        <h5>Slovenia</h5>
                    </div>
                </div>

            </div>

        </div></center>

<!--FOOTER-->

    <div class="container">
        <div class="navbar navbar-default navbar-footer">
            <p class="pull-left navbar-signature nsmargin">designed by: <a  class="navbar-signature" href="#"> mojca franic </a></p>

            <div align="right" class="icon">
                <a href="#" target="_blank"><img src="/assets/pictures/1489866644_United-Kingdom_flat.png"></a>
                <a href="#" target="_blank"><img src="/assets/pictures/1489866671_Slovenia_flat.png"></a>
                <a href="#" target="_blank"><img src="/assets/pictures/1489866654_Germany_flat.png"></a>
            </div>

        </div>
    </div>

</body>
</html>